# Project Analysis - Cohort Analysis & Layer Cake Chart

<font size = 5>1. Proposal</font>

    In 21th century, customers' data are becoming more and more essential to SaaS companies, they are able to provide the most appropriate service to customers based on them. As cohort analysis gives user an understanding of the why, how, and when of customer's actions that helps user to make decisions, we want to conduct several cohort analysis on the top 3 most frequently represented countries on the list to see whether there are any correlations between them from our datasets with card paid or refunded for customer in 2020 from different countries. If so, this should answer the question that why every SaaS Company needs to be doing with cohort analysis. For further progress, we want to conduct a cohort layer cake chart with no geographic seperation. ....

<font size = 5>2. Retrieve Dataset</font>

Datasets: customer details in 2020: https://github.com/shy1213/Project/blob/main/query_result_2021-05-18T03%2046%2057.095586Z%20(1).csv

In [2]:
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json

In [105]:
data_set = pd.read_csv('/Users/shy/Downloads/customer.csv')

appear_times = {}
for country in data_set['card__country']:
    if country not in appear_times:
        appear_times[country] = 1
    else:
        appear_times[country] += 1

def sort(x):
    items = x.items()
    back = [[cha[1], cha[0]] for cha in items]
    back.sort()
    return [back[i][1] for i in range(0, len(back))]

sort(appear_times)

['AE',
 'BE',
 'CD',
 'CN',
 'KE',
 'KW',
 'LV',
 'NG',
 'TW',
 'DK',
 'JP',
 'LT',
 'NZ',
 'ES',
 'IT',
 'RU',
 'HK',
 'MT',
 'PL',
 'IN',
 'EE',
 'IE',
 'NL',
 'UA',
 'IL',
 'FR',
 'DE',
 'SG',
 'FI',
 'GB',
 'CA',
 'AU',
 'US',
 nan]

Therefore, we retrieve the top 3 countries which are US, AU an CA. Then we are able to conduct our three seperated cohort analysis.

<font size = 5>2.1 US Cohort Analysis</font>

In [76]:
data_set_US = pd.read_csv('/Users/shy/Downloads/customer.csv')

In [80]:
data_set_US = data_set_US.loc[data_set_US['card__country'] == 'US']

In [102]:
data_set_US['created'] = data_set_US['created'].str.replace('T', ' ')
data_set_US['created'] = data_set_US['created'].str.replace('Z', '')